pandas
re
numpy==1.23.5
gensim==4.3.1
scipy==1.10.1
nltk
nltk.corpus
nltk.tokenize
pymorphy2
matplotlib.pyplot
nltk.stem.snowball
sklearn.model_selection 
collections
wordcloud
sklearn.feature_extraction.text
torch.nn.functional
torch.utils.data
torch
torch.optim
torch.nn.utils.rnn
sklearn.metrics
gensim.models
torch.utils.data
torch.nn
transformers
nltk
tqdm
